/.vscode
__pycache__
*.pyc
__pycache__/

# Ignore Outputs and Raw Data
/data
*.zip
run_manifest.json
valid_frames.json
*.csv
*.npy
*.jpg
*.png
rawdata
/old_data
/output
description
rawdata_backup
resources
output
*.pth

# Logs and Configs Wandb
wandb